<!doctype html>
<html class="no-js <% if(environment == 'development') { %>wf-active<% } %>" lang="en-US">
<head itemscope itemtype="http://schema.org/WebSite">
  <meta charset="utf-8">
  <% if(environment == "production") { %>
    <link rel="dns-prefetch" href="//use.typekit.net">
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
  <% } %>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="Author" content="<%= author %>">
  <link rel="canonical" href="<%= url %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title itemprop="name"><%= title %></title>
  <meta name="description" content="<%= description %>">
  <% if(environment == "production") { %>
    <script>
      (function(d) {
        var config = {
          kitId: 'esl3jye',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
  <% } else { %>
    <link rel="stylesheet" href="/fonts/proxima-nova.css">
  <% } %>
  <link rel="stylesheet" href="/css/main.css">
  <meta property="og:url" content="<%= url %>">
  <meta property="og:image" content="<%= gravatar %>?s=716">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="<%= title %>">
  <link itemprop="url" href="<%= url %>">
  <link rel="home" href="<%= url %>">
  <link id="favicon" rel="shortcut icon" type="image/x-icon" href="<%= gravatar %>?s=16">
  <link rel="apple-touch-icon" href="<% gravatar %>?s=256">
  <% if(environment == "production") { %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" async></script>
  <% } else { %>
    <script src="/js/modernizr.js" async></script>
  <% } %>
</head>
<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <%- partial("partials/_loader") %>
  <%- partial("partials/_navigation") %>

  <%- yield %>

  <%- partial("partials/_contentinfo") %>

<% if(environment == "production") { %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js" async></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/2.3.1/picturefill.min.js" async></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js" async></script>
  <%- partial("partials/_analytics") %>
<% } else { %>
  <script src="/js/jquery.js"></script>
  <script src="/js/pace.js"></script>
  <script src="/js/jquery.ba-throttle-debounce.min.js" async></script>
  <script src="/js/picturefill.js" async></script>
  <script src="/js/fastclick.js" async></script>
<% } %>
  <script src="/js/main.js" async></script>

</body>
</html>
